%h2 投票所
- if @form.errors.present?
  - @form.errors.full_messages.each do |message|
    .alert-box.alert(data-alert)
      = message
      %a.close(href='#') &times;

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

= form_for @form, url: votes_path do |f|
  .tabs-content
    .content.active#lts
      = render partial: 'table', locals: { f: f, exhibits: @lts }
    .content#foods
      = render partial: 'table', locals: { f: f, exhibits: @foods }

  = f.label :comment
  コメントを贈りましょう！誹謗中傷や批判的な内容はおやめください。（入力は任意です。最大 40 文字入力可能です。）
  = f.text_field :comment

  = f.submit '投票する', class: 'button round success'
