%h2 投票する
- if @vote.errors.present?
  - @vote.errors.full_messages.each do |message|
    .alert-box.alert(data-alert)
      = message
      %a.close(href='#') &times;

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

= form_for @vote, url: votes_path do |f|
  .tabs-content
    .content.active#lts
      %table
        %thead
          %tr
            %th 投票する
            %th タイトル
            %th 出品者
            %th 説明
        %tbody
          - @lts.each do |lt|
            %tr
              %td
                = f.radio_button :exhibit_id, lt.id
              %td
                = lt.title
              %td
                = lt.user.nickname
              %td
                = lt.description

    .content#foods
      %table
        %thead
          %tr
            %th 投票する
            %th タイトル
            %th 出品者
            %th 説明
        %tbody
          - @foods.each do |food|
            %tr
              %td
                = f.radio_button :exhibit_id, food.id
              %td
                = food.title
              %td
                = food.user.nickname
              %td
                = food.description

  = f.submit class: 'button round success'

= link_to 'みんなの出品物一覧にもどる', root_path
