- if votes.any?
  %table.my-votes-table
    %thead.my-votes-table__header
      %tr
        %th 種類
        %th タイトル
        %th 出品者
        %th 説明
        %th 画像
        %th あなたがつけたコメント
        %th
    %tbody.my-votes-table__body
      - votes.each do |vote|
        %tr
          %td.my-vote__exhibit-type
            = vote.exhibit.type
          %td.my-vote__exhibit-title
            = vote.exhibit.title
          %td.my-vote__exhibitor-nickname
            = vote.exhibit.user.nickname
          %td.my-vote__exhibit-description
            = vote.exhibit.description
          %td.my-vote__exhibit-image
            = exhibit_image_tag(vote.exhibit.image_url)
          %td.my-vote__comment-for-exhibit
            = vote.comment
          %td.my-vote__delete
            = link_to '削除', my_vote_path(vote), method: :delete, data: {confirm: '一度削除すると元に戻せません。よろしいですか？'}
- else
  %p 投票しているものは、まだ何もありません
