%h2 みんなの出品物一覧
%p ようこそ elt2015 へ！

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

.tabs-content
  .content.active#lts
    = render partial: 'shared/exhibits_table', locals: {exhibits: @lts}

  .content#foods
    = render partial: 'shared/exhibits_table', locals: {exhibits: @foods}

= link_to '投票する', new_vote_path, class: 'button radius'

= link_to '出品したいかたはこちら', my_exhibits_path
= link_to 'サインアウト', signout_path, method: :delete
