%h2 みんなの出品物一覧

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

.tabs-content
  .content.active#lts
    - if @lts.any?
      %table
        %thead
          %tr
            %th 発表順
            %th タイトル
            %th 出品者
            %th 説明
            %th スライド
        %tbody
          - @lts.each do |lt|
            %tr
              %td
                = lt.try(:announce_number)
              %td
                = lt.title
              %td
                = lt.user.nickname
              %td
                = lt.description
              %td
                = exhibit_slide_tag(lt.slide_url)
    - else
      %p まだ何もありません

  .content#foods
    - if @foods.any?
      %table
        %thead
          %tr
            %th タイトル
            %th 出品者
            %th 説明
            %th 画像
        %tbody
          - @foods.each do |food|
            %tr
              %td
                = food.title
              %td
                = food.user.nickname
              %td
                = food.description
              %td
                = exhibit_image_tag(food.image_url)
    - else
      %p まだ何もありません

= link_to '投票所へ', new_vote_path, class: 'button radius'
