= f.label :type
= f.select :type, exhibit_types

= f.label :title
（入力は必須です。最大 20 文字入力可能です。）
= f.text_field :title

= f.label :description
あなたの作品の魅力を伝える説明文を書いてください。（入力は任意です。最大 40 文字入力可能です。）
= f.text_area :description

#js-image-url
  = f.label :image_url
  = f.text_area :image_url

#js-slide-url
  = f.label :slide_url
  = f.text_area :slide_url


= f.submit class: 'button radius'
