- if votes.any?
  %table
    %thead
      %tr
        %th 種類
        %th タイトル
        %th 出品者
        %th 説明
        %th あなたがつけたコメント
    %tbody
      - votes.each do |vote|
        %tr
          %td
            = vote.exhibit.type
          %td
            = vote.exhibit.title
          %td
            = vote.exhibit.user.nickname
          %td
            = vote.exhibit.description
          %td
            = vote.comment
- else
  %p 投票しているものは、まだ何もありません
