%h2 #{@exhibit.title} へのコメント

-# XXX ださいけどひとまず
- if @exhibit.user == current_user
  - @votes_with_comment.each do |vote|
    %ul.votes__body
      %li.vote__body
        = "#{vote.comment} / by #{vote.user}"
- else
  - @votes_with_comment.each do |vote|
    %ul.votes__body
      %li.vote__body
        = "#{vote.comment}"

.link--return
= link_to 'ランキングへ戻る', results_path
