%h2 「#{@exhibit.title}」へのコメント

- if @votes_with_comment.any?
  - if current_user == @exhibit.user
    %table.votes-table
      %thead.votes-table__header
        %tr
          %th もらったコメント
          %th コメント主
      %tbody.votes-table__body
        - @votes_with_comment.each do |vote|
          %tr
            %td.vote__comment
              = vote.comment.present? ? vote.comment : '(コメントは入力されていません)'
            %td.vote__voted-user-name
              = vote.user.nickname
  - else
    %table.votes-table
      %thead.votes-table__header
        %tr
          %th もらったコメント
      %tbody.votes-table__body
        - @votes_with_comment.each do |vote|
          %tr
            %td.vote__comment
              = vote.comment.present? ? vote.comment : '(コメントは入力されていません)'
- else
  %p コメントはありません

.link--return
= link_to 'ランキングへ戻る', results_path
