%h2 タイプ別ランキング

= "※ #{Exhibit::RANK_BORDER_NUM}票以上のものが表示されます"

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

.tabs-content
  .content.active#lts
    %table.lts-ranking
      %thead
        %tr
          %th 順位
          %th タイトル
          %th 発表者
          %th 得票数
      %tbody
        - @lts.each.with_index(1) do |lt, rank|
          %tr
            %td.lts-ranking__rank
              = "#{rank}位"
            %td.lts-ranking__title-and-creator
              = lt.title
            %td
              = lt.user.nickname
            %td.lts-ranking__votes-count
              = "#{lt.votes_count}票"

  .content#foods
    %table.foods-ranking
      %thead
        %tr
          %th 順位
          %th タイトル
          %th 発表者
          %th 得票数
      %tbody
        - @foods.each.with_index(1) do |lt, rank|
          %tr
            %td.foods-ranking__rank
              = "#{rank}位"
            %td.foods-ranking__title-and-creator
              = lt.title
            %td
              = lt.user.nickname
            %td.foods-ranking__votes-count
              = "#{lt.votes_count}票"
