%h2 ランキング

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

.tabs-content
  .content.active#lts
    - @lts.each.with_index(1) do |lt, rank|
      = "#{rank}位"
      = "#{lt.title} by #{lt.user.nickname}"
      = "#{lt.votes_count}票"

  .content#foods
    - @foods.each.with_index(1) do |food, rank|
      = "#{rank}位"
      = "#{food.title} by #{food.user.nickname}"
      = "#{food.votes_count}票"
