- if exhibits.any?
  %table.my-exhibits-table
    %thead.my-exhibits-table__header
      %tr
        %th タイトル
        %th 出品者
        %th 説明
        %th 画像
        -# TODO https://github.com/yucao24hours/elt2015/issues/108 で最終結果後にだけ表示するようにする
        %th 得票数
        %th
    %tbody.my-exhibits-table__body
      - exhibits.each do |exhibit|
        %tr
          %td.my-exhibit__title
            = link_to exhibit.title, edit_my_exhibit_path(exhibit)
          %td.my-exhibit__exhibitor-nickname
            = exhibit.user.nickname
          %td.my-exhibit__description
            = exhibit.description
          %td.my-exhibit__image
            = exhibit_image_tag(exhibit.image_url)
          -# TODO https://github.com/yucao24hours/elt2015/issues/108 で最終結果後にだけ表示するようにする
          %td.my-exhibit__vote-count
            = exhibit.votes_count
          %td.my-exhibit__delete
            = link_to 'この出品物を削除', my_exhibit_path(exhibit), method: :delete, data: {confirm: '出品物を削除すると、すでに投票されている票数やコメントも確認できなくなります。よろしいですか？'}
- else
  %p まだ何もありません
