%h2 あなたの出品物一覧

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

.tabs-content
  .lts__table.content.active#lts
    = render partial: 'table', locals: {exhibits: @lts}

  .foods__table.content#foods
    = render partial: 'table', locals: {exhibits: @foods}

= link_to '出品所へ', new_exhibit_path, class: 'button radius'
