%h2 あなたの出品物一覧

%ul.tabs(data-tab)
  %li.tab-title.active
    = link_to 'LT', '#lts'
  %li.tab-title
    = link_to '食べ物', '#foods'

.tabs-content
  .lts__table.content.active#lts
    = render partial: '/exhibits/exhibits_table', locals: {exhibits: @lts}

  .foods__table.content#foods
    = render partial: '/exhibits/exhibits_table', locals: {exhibits: @foods}

= link_to '新しく出品登録する', new_exhibit_path
= link_to 'みんなの出品物一覧にもどる', root_path
