!!! 5
%html{:lang => 'ja'}
  %head
    %meta{:charset => 'utf-8'}

    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    %title= content_for?(:title) ? yield(:title) : 'elt2015'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    - flash.each do |key, message|
      .alert-box(data-alert class=key)
        = message
        %a.close(href='#') &times;
    = yield
