!!! 5
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %title= content_for?(:title) ? yield(:title) : 'elt2015'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tag

  %body
    %nav.top-bar{ 'data-topbar': '', role: 'navigation' }
      %ul.title-area
        %li.name
          %h1
            %a{ href: '#' } TokyuRubyKaigi09
        %li.toggle-topbar.menu-icon
          %a{ href: '#' }
            %span Menu
      %section.top-bar-section
        %ul.left
          %li.has-dropdown
            %a{ href: '#' } メニュー
            %ul.dropdown
              %li
                %a{ href: '#' } First link in dropdown
              %li
                %a{ href: '#' } Active link in dropdown

    - flash.each do |key, message|
      .alert-box(data-alert class=key)
        = message
        %a.close(href='#') &times;
    = yield
